/* pricing.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*    font-family: Arial, sans-serif;*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.pricing-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.brand-container a {
    text-decoration: none;
    color: inherit;
}

.logo {
    height: 40px; /* Adjust the height as needed */
    margin-right: 10px; /* Add space between the logo and the brand name */
}

.pricing-card h1 {
    font-size: 2em;
}

.pricing-card p {
    margin-bottom: 20px;
    font-size: 1em;
    color: #333;
}

.pricing-table {
    width: 100%;
    border-collapse: collapse;
}

.pricing-table th,
.pricing-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.pricing-table th {
    background-color: #007bff;
    color: white;
}

.pricing-table td {
    background-color: #f9f9f9;
}

.link-container {
    margin-top: 20px;
}

.link-container a {
    color: #007bff;
    text-decoration: none;
    font-size: 1em;
}

.link-container a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .pricing-card {
        padding: 20px;
    }

    .pricing-card h1 {
        font-size: 1.5em;
    }

    .pricing-card p {
        font-size: 0.875em;
    }
}
